{% extends 'main.html' %}
{% load static %}


{% block content %}
<div class="contents">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="breadcrumb-main">
                            <h4 class="text-capitalize breadcrumb-title">Pricing Plan</h4>
                            <div class="breadcrumb-action justify-content-center flex-wrap">
                                
                        </div>

                    </div>
                </div>

                                        <div class="card card-md mb-30 shadow1">
                                        <div class="card-header  border-bottom-0  p-sm-30">
                                            <!-- <h5>Body Text Normal</h5> -->
                                        </div>
                                        <div class="card-body pt-0 px-30">
                                           <!--  <div class="d-flex flex-wrap mb-2">
                                                <span class="text-normal color-primary">Font Size - 15px<span class="color-secondary  mx-15">Font weight - 400</span>
                                                    <span class="color-success"> Line height - 26px</span></span>
                                            </div> -->
                                            <!-- ends: .atbd-button-list" -->
                                            <p class="text-normal">We have tried to keep our pricing simple, transparent and affordable. Our straightforward plans have been devised keeping our customers in mind - which means you! And we have ensured there are no hassles, no hidden fees or dubiously compromising data sharing practices. </p>
                                        </div>
                                        
                                    </div>
                                  <!--   end para card  -->
                         <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-6 mb-25">
                                <figure class="feature-cards3">
                                    <img class="svg" src="{% static 'img/svg/feature1.svg' %}" alt="">
                                    <figcaption>
                                        <h2>No surprises</h2>
                                        <p>It’s all out there for you to see and try. There are no surprises planned. We will not promise something and deliver another thing. 

                                     </p><!--<a href="/strikingdash/admin/widgets/card">Learn More</a> -->
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 mb-25">
                                <figure class="feature-cards3">
                                    <img class="svg" src="{% static 'img/svg/feature2.svg' %}" alt="">
                                    <figcaption>
                                        <h2>Pricing for everyone</h2>
                                        <p>We have a plan for everyone: for one time user, an occasional and intermittent user or  a frequent user. We let you decide who you are.
                                       </p><!-- a href="/strikingdash/admin/widgets/card">Learn More</a> -->
                                    </figcaption>
                                </figure>
                            </div>
                           
                            <div class="col-xl-3 col-lg-4 col-md-6 mb-25">
                                <figure class="feature-cards3">
                                    <img class="svg" src="{% static 'img/svg/feature3.svg' %}" alt="">
                                    <figcaption>
                                        <h2>Ever growing library </h2>
                                        <p>Our library is growing, and we ensure that you are not stuck with designs that are not in trend anymore. We will continue to update and grow our library.</p><!-- <a href="/strikingdash/admin/widgets/card">Learn More</a> -->
                                    </figcaption>
                                </figure>
                            </div>
                             <div class="col-xl-3 col-lg-4 col-md-6 mb-25">
                                <figure class="feature-cards3">
                                    <img class="svg" src="{% static 'img/svg/feature4.svg' %}" alt="">
                                    <figcaption>
                                        <h2>Enjoy unlimited access to pro or premium</h2>
                                        <p>Based on the plan you pick enjoy full access to pro or premium graphics. With the premium plan you get unlimited access for a year.</p><!-- <a href="/strikingdash/admin/widgets/card">Learn More</a> -->
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <!-- end of 4 card -->


                <div class="row">
                    <div class="col-xxl-3 col-lg-4 col-sm-6 mb-30">
                        <div class="card h-100">
                            <div class="card-body p-30">
                                <div class="pricing d-flex align-items-center">

                                    <span class=" pricing__tag color-dark order-bg-opacity-dark rounded-pill ">Free Forever</span>


                                </div>
                                <div class="pricing__price rounded">
                                    <p class="pricing_value display-3 color-dark d-flex align-items-center text-capitalize fw-600 mb-1">
                                        free
                                    </p>
                                  <!--   <p class="pricing_subtitle mb-0">For Individuals</p> -->
                                </div>
                                <div class="pricing__features">
                                    <ul>
                                        <li>
                                            <span class="fa fa-check"></span>Full access to freebies
                                        </li>

                                        <li>
                                            <span class="fa fa-check"></span>Free forever, no commitment needed
                                        </li>
                                        <li>
                                            <span class="fas fa-times"></span>Access to Nimmio Pro
                                        </li>
                                        <li>
                                            <span class="fas fa-times"></span>Access to premium content


                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="price_action d-flex pb-30 pl-30">




                                <button class="btn btn-default btn-squared btn-outline-light text-capitalize px-30 color-gray fw-500">Current Plan
                                </button>




                            </div>
                        </div><!-- End: .card -->
                    </div><!-- End: .col -->
                    <div class="col-xxl-3 col-lg-4 col-sm-6 mb-30">
                        <div class="card h-100">
                            <div class="card-body p-30">
                                <div class="pricing d-flex align-items-center">

                                    <span class=" pricing__tag color-primary order-bg-opacity-primary rounded-pill ">Pro Plan</span>


                                </div>
                                <div class="pricing__price rounded">

                                    <p class="pricing_value display-3 color-dark d-flex align-items-center text-capitalize fw-600 mb-1">

                                        <sup>$</sup>19.99
                                        <small class="pricing_user">Per month</small>
                                    </p>
<!--                                     <p class="pricing_subtitle mb-0">For 2 Users</p> -->

                                </div>
                                <div class="pricing__features">
                                    <ul>
                                       <!--  <li>
                                            <span class="fa fa-check"></span>100GB file space
                                        </li>
 -->
                                        <li>
                                            <span class="fa fa-check"></span>Instant Access to Nimmio Pro
                                        </li>
                                        <li>
                                            <span class="fa fa-check"></span>Allows 30 downloads / month
                                        </li>
                                        <li>
                                            <span class="fa fa-check"></span>Switch or cancel anytime
                                        </li>
                                        <li>
                                            <span class="fa fa-times"></span>Switch or cancel anytime
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="price_action d-flex pb-30 pl-30">



                                <button class="btn btn-primary btn-default btn-squared text-capitalize px-30">Get Started
                                </button>





                            </div>
                        </div><!-- End: .card -->
                    </div><!-- End: .col -->
                    <div class="col-xxl-3 col-lg-4 col-sm-6 mb-30">
                        <div class="card h-100">
                            <div class="card-body p-30">
                                <div class="pricing d-flex align-items-center">

                                    <span class=" pricing__tag color-secondary order-bg-opacity-secondary rounded-pill ">Premium</span>


                                </div>
                                <div class="pricing__price rounded">

                                    <p class="pricing_value display-3 color-dark d-flex align-items-center text-capitalize fw-600 mb-1">

                                        <sup>$</sup>199.99
                                        <small class="pricing_user">Per month</small>
                                    </p>
                                    <!-- <p class="pricing_subtitle mb-0">For 10 Users</p> -->

                                </div>
                                <div class="pricing__features">
                                    <ul>
                                        <!-- <li>
                                            <span class="fa fa-check"></span>500GB+ file space
                                        </li> -->
                                        <li>
                                            <span class="fa fa-check"></span>Unrestricted access to Nimmio Pro and premium graphics
                                        </li>
                                        <li>
                                            <span class="fa fa-check"></span>No capping on monthly downloads
                                        </li>
                                        <li>
                                            <span class="fa fa-check"></span>Unlimited free updates for full year 


                                        </li>
                                       <!--  <li>
                                            <span class="fa fa-check"></span>Custom Post Types
                                        </li>
                                        <li>
                                            <span class="fa fa-check"></span>Subtasks
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                            <div class="price_action d-flex pb-30 pl-30">



                                <button class="btn btn-secondary btn-default btn-squared text-capitalize px-30">Get Started
                                </button>





                            </div>
                        </div><!-- End: .card -->
                    </div><!-- End: .col -->
                    
                                        </div><!-- End: .card -->
                                    </div><!-- End: .col -->
                                </div>
                            </div>
                    

  {% endblock content %}