{% load static %}
<!-- JavaScript files-->
 <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDduF2tLXicDEPDMAtC6-NLOekX0A5vlnY"></script>

 <script src="{% static 'vendor/js/jquery/jquery-3.5.1.min.js' %}"></script>
      <script src="{% static 'vendor/js/jquery/jquery-ui.js' %}"></script>
      <script src="{% static 'vendor/js/bootstrap/popper.js' %}"></script>
      <script src="{% static 'vendor/js/bootstrap/bootstrap.min.js' %}"></script>
      <script src="{% static 'vendor/js/accordion.js' %}"></script>
      <script src="{% static 'vendor/js/autoComplete.js' %}"></script>
      <script src="{% static 'vendor/js/Chart.min.js' %}"></script>
     
      <script src="{% static 'vendor/js/charts.js' %}"></script>
      <script src="{% static 'vendor/js/daterangepicker.js' %}"></script>
      <script src="{% static 'vendor/js/drawer.js' %}"></script>
      <script src="{% static 'vendor/js/dynamicBadge.js' %}"></script>
      <script src="{% static 'vendor/js/dynamicCheckbox.js' %}"></script>
      <script src="{% static 'vendor/js/feather.min.js' %}"></script>
      <script src="{% static 'vendor/js/fullcalendar@5.2.0.js' %}"></script>
      <script src="{% static 'vendor/js/google-chart.js' %}"></script>
      <script src="{% static 'vendor/js/jquery-jvectormap-2.0.5.min.js' %}"></script>
      <script src="{% static 'vendor/js/jquery-jvectormap-world-mill-en.js' %}"></script>
      <script src="{% static 'vendor/js/jquery.countdown.min.js' %}"></script>
      <script src="{% static 'vendor/js/jquery.filterizr.min.js' %}"></script>
      <script src="{% static 'vendor/js/jquery.magnific-popup.min.js' %}"></script>
      <script src="{% static 'vendor/js/jquery.mCustomScrollbar.min.js' %}"></script>
      <script src="{% static 'vendor/js/jquery.peity.min.js' %}"></script>
      <script src="{% static 'vendor/js/jquery.star-rating-svg.min.js' %}"></script>
      <script src="{% static 'vendor/js/leaflet.js' %}"></script>
      <script src="{% static 'vendor/js/leaflet.markercluster.js' %}"></script>
      <script src="{% static 'vendor/js/loader.js' %}"></script>
      <script src="{% static 'vendor/js/message.js' %}"></script>
      <script src="{% static 'vendor/js/moment.js' %}"></script>
      <script src="{% static 'vendor/js/muuri.min.js' %}"></script>
      <script src="{% static 'vendor/js/notification.js' %}"></script>
      <script src="{% static 'vendor/js/popover.js' %}"></script>
      <script src="{% static 'vendor/js/select2.full.min.js' %}"></script>
      <script src="{% static 'vendor/js/slick.min.js' %}"></script>
       <script src="{% static 'vendor/js/trumbowyg.min.js' %}"></script>
       <script src="{% static 'vendor/js/wickedpicker.min.js' %}"></script>

       <script src="{% static 'theme_assets/js/drag-drop.js' %}"></script>
       <script src="{% static 'theme_assets/js/full-calendar.js' %}"></script>
       <script src="{% static 'theme_assets/js/googlemap-init.js' %}"></script>
       <script src="{% static 'theme_assets/js/icon-loader.js' %}"></script>
       <script src="{% static 'theme_assets/js/jvectormap-init.js' %}"></script>
       <script src="{% static 'theme_assets/js/leaflet-init.js' %}"></script>
       <script src="{% static 'theme_assets/js/main.js' %}"></script>